<html>
<head><meta charset="UTF-8">
<title>弥媒</title>
<script type="text/javascript" src="vue.js"></script>

</head>
<link href="main_style.css" rel="stylesheet" type="text/css">
<body>
<!-- 节点管理页面，目前存放各功能的测试页面
<p><a href="./auth.html">鉴权</a></p> -->

<div id="leitherbody" style="">		
    <div id="leitherframe" v-if="isLogined" style="" class="main_div">
        <div class="sub_second_menu_left">
            <div @click="select('mynode')" :class="{sub_second_menu_left_second:true, sub_second_menu_left_second_select:selected==='mynode'}">我的节点</div>
            <div @click="select('swarm')" :class="{sub_second_menu_left_second:true, sub_second_menu_left_second_select:selected==='swarm'}">节点网络</div>
            <div @click="select('myapp')" :class="{sub_second_menu_left_second:true, sub_second_menu_left_second_select:selected==='myapp'}">我的应用</div>
            <div @click="select('message')" :class="{sub_second_menu_left_second:true, sub_second_menu_left_second_select:selected==='message'}">互动消息</div>
            <div @click="select('system')" :class="{sub_second_menu_left_second:true, sub_second_menu_left_second_select:selected==='system'}">系统设置</div>
        </div>
        <div id="mynode" v-if="selected==='mynode'" class="sub_second_iframe_left">
            <headnodestate :localid="systemdata.localnodeid" :nodeid="mynodedata.nodeid"></headnodestate>
            <!-- <div class="main_header">
                <p class="main_header_title">当前状态</p>
                <div class="main_header_hint2">
                本地节点&nbsp;<span class="theme_color">{{systemdata.localnodeid}}</span>&nbsp;&nbsp;&nbsp;当前浏览&nbsp;&nbsp;<span class="theme_color">{{mynodedata.nodeid}}</span>
                </div>
            </div> -->

            <form>
                <div class="main_content">

                    <div class="main_item">
                        <div class="main_item_name">节点ID</div>
                        <div class="main_item_content"><span class="theme_color">{{mynodedata.nodeid}}</span></div>
                    </div>
                    <div class="main_item">
                        <div class="main_item_name">节点公钥</div>
                        <div class="main_item_content"><span class="theme_color">{{mynodedata.hostpk}}</span></div>
                    </div>
                    <div class="main_item">
                        <div class="main_item_name">节点网关</div>
                        <div class="main_item_content">
                        <span class="theme_color">{{mynodedata.gateway}}</span>
                        </div>
                    </div>
                    <div class="main_item">
                        <div class="main_item_name">节点地址</div>
                        <div class="main_item_content">
                            <span class="theme_color"> {{mynodedata.ips}}  </span>
                        </div>
                    </div>
                    <div class="main_item">
                        <div class="main_item_name">ipfs节点ID</div>
                        <div class="main_item_content"><span class="theme_color">{{mynodedata.peerid}}</span></div>
                    </div>

                    <div class="main_item">                    
                        <div class="main_item_name">ipfs节点地址</div>
                        <div class="main_item_content">
                            <span class="theme_color">{{mynodedata.swarmlocal.length}}</span>
                        </div>
                    </div>
        
                    <div class="main_item" v-for="item in mynodedata.swarmlocal" :key="item">                    
                            <div class="main_item_name"></div>
                            <div class="main_item_content">
                                <span class="theme_color">{{item}}</span>
                            </div>
                    </div>

                    

                </div>
            </form>
            
        </div>
        <div id="swarm" v-if="selected==='swarm'" class="sub_second_iframe_left">
            <headnodestate :localid="systemdata.localnodeid" :nodeid="mynodedata.nodeid"></headnodestate>
            <div class="main_content">
                <div class="main_item">
                    <div class="main_item_name">节点网关</div>
                    <div class="main_item_content">
                        <span class="theme_color">{{mynodedata.gateway}}</span>
                    </div>
                </div>


            <span  v-for="(dht, id) in swarmdata.dhts" :key="id" >               
                <div class="main_item">                    
                    <div class="main_item_name">{{id}}</div>
                    <div class="main_item_content"> <span class="theme_color">{{dht.length}}</span></div>
                </div>
                <div class="main_item" v-for="pid in dht" :key="pid">                    
                    <div class="main_item_name"></div>
                    <div class="main_item_content">
                        <span class="theme_color">{{pid}}</span>
                    </div>
                </div>
            </span>

            <div class="main_item">                    
                <div class="main_item_name">节点地址</div>
                <div class="main_item_content">
                    <span class="theme_color">{{Object.keys(swarmdata.addrs).length}}</span>
                </div>
            </div>

            <span  v-for="(addrs, pid) in swarmdata.addrs" :key="pid" >               
                <div class="main_item">                    
                    <div class="main_item_name"> </div>
                    <div class="main_item_content"> <span class="theme_color">{{pid}}</span></div>
                </div>
                
                <div class="main_item" v-for="addr in addrs" :key="addr">                    
                    <div class="main_item_name"></div>
                    <div class="main_item_content">
                        <span class="theme_color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{addr}}</span>
                    </div>
                </div>
            </span>


            <!-- <div class="main_item">                    
                <div class="main_item_name">节点数目</div>
                <div class="main_item_content">
                    <span class="theme_color">{{swarmdata.peers.length}}</span>
                </div>
            </div>

            <div class="main_item" v-for="peer in swarmdata.peers" :key="peer">                    
                    <div class="main_item_name"></div>
                    <div class="main_item_content">
                        <span class="theme_color">{{peer}}</span>
                    </div>
            </div> -->
            

            </div>
        </div>
        <div id="myapp" v-if="selected==='myapp'" class="sub_second_iframe_left">
            <div class="main_header">
                <p class="main_header_title">应用数目: &nbsp; &nbsp;<span>{{appsdata.apps.length}}</span></p>
            </div>

            <div v-for="(app, index) in appsdata.apps" :key="index"> 
                <div class="main_item">
                    <div class="main_item_name">应用名称</div>
                    <div class="main_item_content"><span class="theme_color">{{app.name}}</span></div>
                </div>
                <div class="main_item">
                    <div class="main_item_name">应用ID</div>
                    <div class="main_item_content"><span class="theme_color">{{app.iD}}</span></div>
                </div>
                <div class="main_item">
                    <div class="main_item_name">开发者</div>
                    <div class="main_item_content"><span class="theme_color">{{app.author}}</span></div>
                </div>
                <div class="main_item">
                    <div class="main_item_name">应用版本</div>
                    <div class="main_item_content">
                        <span class="theme_color" v-for="(ver, i) in app.appvers" :key="i">
                            <a :href="getAppUrl(app.iD, ver)">{{ver}} </a> <a> &nbsp;  &nbsp; </a>  
                        </span>
                    </div>
                </div>
            </div>

      
            <!-- <button v-on:click="ontest()">测试</button> -->
        </div>
        <div id="message" v-if="selected==='message'" class="sub_second_iframe_left">
            互动消息
        </div>
        <div id="system" v-if="selected==='system'" class="sub_second_iframe_left">
            <headnodestate :localid="systemdata.localnodeid" :nodeid="mynodedata.nodeid"></headnodestate>

            <!-- <button v-on:click="ontest()">测试</button> -->
            <div class="main_item">                    
                <div class="main_item_name">点击切换节点</div>
                <div class="main_item_content"></div>
            </div>

            <div class="main_item" v-for="pid in swarmdata.dhts['LAN']" :key="pid">                    
                    <div class="main_item_name"></div>
                    <div class="main_item_content">
                        <span v-on:click="onswitch(pid)" class="theme_color">{{pid}}</span>
                    </div>
            </div>
            <div>
                <div class="main_item_name">配置文件</div>
                <div class="main_item_content">
                    <textarea  v-bind:value="systemdata.systemvars" @input="printvars($event.target.value)" class="input_text"></textarea>
                    <div class="main_item_content">
                        <button v-bind:disabled="!systemdata.bChanged" v-on:click="resetSystemdata()" >重置</button> 
                        <button v-bind:disabled="!systemdata.bChanged" v-on:click="saveSystemdata()" >保存</button>
                    </div>
                </div>
            </div>              
        </div>
    </div>		
    <div  v-if="!isLogined">
        <form method="post" action="login.js">
            <p>当前登陆的节点地址:{{ips}}</p>

            <p><label class="label_input">用户名</label><input type="text" id="username" class="text_field"/></p>
            <p><label class="label_input">密&nbsp;&nbsp;码</label><input type="text" id="password" class="text_field"/></p>
     
            <div id="login_control">
                <input type="button" id="btn_login" value="登录" οnclick="login();"/>
                <input type="button" id="btn_login" value="注册" οnclick="login();"/>
            </div>
        </form>
    </div>										
</div>
<script type="text/javascript" src="manager.js"></script>
<script type="text/javascript" src="hprose.js"></script>
<script type="text/javascript" src="auth.js"></script>
<!-- <script type="text/javascript" src="cache.js"></script> -->
</body>
</html>
